### 변수
계산에 필요한 자료를 일시적으로 저장하거나 처리결과를  담을 수 있는 기억장소를 지정해 주는 역할
변수 이름은 값을 지정하는 메모리 역역의 이름으로 할당.

### 변수 이름의 작성 규칙.
- 첫자는 영문으로 시작.
- 첫자를 제외하고 숫자, under bar, dot을 사용할수 있음.
- 대문자와 소문자를 구분한다
- 변수 이름은 의미를 파악할수 있는 이름으로 지정하는 것이 좋다.
- 두 단어를 포함한 Camel로 하거나 Snake로 하는것이 가독성이 좋다.

In [1]:
print("Apple")
print("Apple", "Banana", sep="\n", end="\n")
print("Apple" + "Banana")

Apple
Apple
Banana
AppleBanana

In [2]:
# 연산자
var01 = 3
var02 = 4
print('덧셈:',var01+var02)
print('뺄셈:',var01-var02)
print("실수 나눗셈:",var01/var02)
print("정수 나눗셈 몫", var01//var02)
print("정수 나머지:",var01%var02)
print('제곱:',var01**2)

덧셈: 7
뺄셈: -1
실수 나눗셈: 0.75
정수 나눗셈 몫 0
정수 나머지: 3
제곱: 9

In [3]:
# 거듭제곰
print("거듭제곱: ", var01**2)
print("거듭제곱: ", pow(var01,2))

거듭제곱:  9
거듭제곱:  9

In [4]:
# 파이썬 모듈으르 이용한 수학 계산
import math

print('거듭제곱: ',math.pow(var01,2))
print('제곱근: ',math.sqrt(var01))
print('싸인: ', math.sin(45))

# sin(45) ** 2 + cos(45) **2
print("싸인:",math.sin(45),"코사인:",math.cos(45),"탄젠트: ", math.tan(45),sep=' ')
math.pow(math.sin(45),2) + math.pow(math.cos(45),2)

거듭제곱:  9.0
제곱근:  1.7320508075688772
싸인:  0.8509035245341184
싸인: 0.8509035245341184 코사인: 0.5253219888177297 탄젠트:  1.6197751905438615

1.0

In [5]:
# 난수 발생
import random

random.randint(1, 10)

7

In [6]:
# 범위의 수
var01 = [1,2,3,4,5,6,7,8,9,10]
print(var01)
print(type(var01))
print(range(1,10+1)) # range(start,stop+1, step=1)
print(list(range(1,10+1))) # range(start,stop+1, step=1)

var02= "2"
print(var02, type(var02))
var02 = int(var02)
print(var02, type(var02))
var02 = float(var02)
print(var02, type(var02))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>
range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2 <class 'str'>
2 <class 'int'>
2.0 <class 'float'>

In [7]:
# 2부터 10까지 짝수만 리스트로 출력
var_02=list(range(2,10+1,2))
print(var_02)
print('=======')
for i in var_02:
  print(i,end=',')
print('=======')


var_02=list(range(10,1,-2))
print(var_02)

[2, 4, 6, 8, 10]
=======
2,4,6,8,10,=======
[10, 8, 6, 4, 2]

In [8]:
# Sampling
random.sample(range(1,10+1),3)

[7, 10, 9]

In [9]:
var_2=0
while True:
  if var_02> 5:
    break
  print(random.sample(range(1,45+1),6))

TypeError: '>' not supported between instances of 'list' and 'int'

In [ ]:
random.sample(range(1,45+1),6)

for _ in range(5):
  print(random.sample(range(1,45+1),6))
  
print('=============')
var_02 = 0
while var_02<5:
  print(random.sample(range(1,45+1),6))
  var_02 += 1
print('=============')

In [ ]:
# 메모리에 있는 변수 보기
# heap : 변수이름 data: 데이터
dir()

In [ ]:
var01
del var01
var02

### 관계연산자

In [ ]:
num1 = 100
num2 = 20

# 동등비교
print(num1 == num2)
print(num1 != num2)

# 크기 비교
print(num1 <= num2)
print(num1 >= num2)

### 논리 연산자

In [ ]:
print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

# 부정 연산자
not(num1 >= 50)

----
### 문자열 자료형

In [ ]:
var01 = """
  Hello World!
  Good to meet you.
"""
var01
print(var01)

In [ ]:
### 쌍따움표와 홑따움표
var01 = "My father's wife is my mother"
print(var01)
var01 = 'He says, "I love you."'
print(var01)

In [ ]:
# 특수문자
var01= 'aaa\nbbb'
print(var01)
var01 = 'aaa\tbbb'
print(var01)

In [ ]:
# 문자열 곱셈
var01="Python"
var02="is fun."
print(var01+var02)
print(var01*3)

print("*" * 21)
print('Python\t\t파이썬')
print("*" * 21)

In [ ]:
print("*" * 21,'Python\t\t파이썬',"*" * 21, sep='\n')

In [ ]:
# 문자열 indexing과 slicing
var01="abcdefghijklmn"
print(var01[0]) # indexing
print(var01[0:2+1])
print(var01[-1])
print(var01[5:])
print(var01[:])
print(var01[:5])
print(var01[5:-2])


var01 = "20251225Snow"
year = var01[:4]
day = var01[4:-4]
weather = var01[-4:]
print(year,day,weather)

var01 = [{"index":1},{"index":2},{"index":3},{"xx":4}]



for i in range(len(var01)) :
  if var01[i].get('index') is not None:
    print(var01[i]['index'])
  else :
    var01.remove(var01[i])

var02 = [{"index":10},{"index":20}]
for i in range(len(var02)):
  var02[i]['index'] += 10
  var01.append(var02[i])

---
### 문자열 포맷팅
: %d(decimal), %s(string), %f(float) => (전통적인 방법)

In [ ]:
# %d : 정수형 format
appleCount = 2
print("I have %d apples."%appleCount)
print("I have", appleCount,"apples.")
# %s : 문자열
appleCount = "two"
print("I have %s apples."%appleCount)

# 혼합형 (중가로 사용)
number = 2
fruit = "apples"
print("I have %d %s."%(number,fruit))

In [ ]:
# 문자열 정렬 : 10글자가 들어갈거다
print("-"*30)
print("I have 2 %10s."%"apples")  # 총글자 10자리 우측정렬
print("I have 2 %-10s."%"apples") # 총글자 10자리 좌측정렬

In [ ]:
# %f 실수형 format 
print("-"*30)
print("%.4f"%3.14159)   # 실수형 소숫점 4자리
print("%10.4f"%3.14159) # 실수형 소숫점 포함 총 10자리

### f-string Formatting
: Python 3.6이상

In [ ]:
name = "홍길동"
age = 32

print(f"{name}의 나이는 {age}살 이다.")


number = 1234567
# 좌측 정열
print('-'* 30)
print(f"{number}") 
print(f"{number:10}") 
print(f"[{number:<10}]") # 좌측 정열
print(f"[{number:>10}]") # 우측 정열
print(f"[{number:^10}]") # 가운데 정열

In [2]:
# print(f"[{number:#>20}]") # 우측정렬 빈칸채우기

# print(f"[{number:-^20,}]") # 가운데 정렬, 빈칸채우기, 천단위 쉼표

# 실수 출력
number = 3.141592
print(f"[{number:020.3f}]") # 빈칸을 0으로 채우고 20자리 소숫점 3자리까지 표현

# number2 = f"{number:020.3f}"
# print(type(number2))
# number3 = float(number2)
# number3

[0000000000000003.142]

---
### 문자열 관련 함수

In [ ]:
# package pylance가 해줌

str = "I have a dream."
#글자 갯수 (한글도 한글자수)
print(len(str))

# string의 내부 함수 count 
print(str.count('a'))
print(str.count(' '))

# FIND: 문자 위치 (index)
print(str.find('e')) # 5번째 e가 위치해 있음.
print(str.find('x')) # 없으면 -1
print(str[str.find('e')]) # 인덱스를 이용해서 value를 확인

# e가 두개 있음. pylance
print(str.find('e',6)) 

# 특정 글자의 모든 위치를 알아내는 방법 -1
str = "I have a dream."
search_word = 'a'
start = 0
count = 0

# 무한반복: 단어찾기
while True:
  position = str.find(search_word,start)
  if position == -1:
    break
  count+=1
  print(f"단어 {search_word}의 {count}번 위치는 {position} 입니다.")
  start = position + len(search_word)

In [ ]:

# 특정 글자의 모든 위치를 알아내는 방법 - 2 : 정규식
import re

str = "I have a dream."
search_word = 'a'
for match in re.finditer(search_word, str) :
  print(match.start(),match.end())

# 컨프리헨션 comprehension
[match.start() for match in re.finditer(search_word, str)]

3 4 None
7 8 None
12 13 None

[3, 7, 12]

In [ ]:
# 문자열 삽입
str = ','
str.join('abcadefg')

# 소문자 <=> 대문자로 바꾸기
str = 'hi'
print(str.upper())
str = 'HI'
print(str.lower())

In [ ]:
# 왼쪽 공백 지우기
str = '              hi'
print("-"*20)
print(str.lstrip(),'<<',sep='')
str = '   hi         '
print('>>',str.rstrip(),'<<',sep='')

print('>>',str.rstrip().lstrip(),'<<',sep='')
print(str.strip())

In [ ]:
# 문자열 바꾸기
str = 'Life is too short to be happy.'
str = str.replace('happy','unhappy')
print(str)

In [ ]:
# 문자열 나누기
str = 'Life is too short to be happy.'
print(str.split())

str01 = "a:b:c:d"
print(str01.split(":"))



print("-"*50)
str02 = """
  apple,
  banana,
  orange
"""

# print(str02.replace('\n','').split(','))
# print([x.lstrip() for x in str02.replace('\n','').split(',')])

# print(str02.replace('\n','').replace(' ','').split(','))
print(str02.replace(',','').split())

---
### 날짜형 변환

In [ ]:
from datetime import datetime, timedelta

time1 = datetime(2025,12,25,21,0,0)
print(time1)
print(type(time1))

# 날짜 계산하기
time2 = datetime.now()
print(time2)

print(f"일: {(time2-time1).days}, 초: {(time2-time1).total_seconds()//(24*60*60)}")
print((f"{time2-time1}").split(",")[0])

In [ ]:
# 특정 날짜로 부터 시간 계산
timeOn = datetime.now()

print(timeOn)
print('현재 시간부터 5일 뒤')
print(timeOn+timedelta(days=5))
print('현재 시간부터 3일 전')
print(timeOn+timedelta(days=-3))
print('현재 시간부터 1일뒤의 2시간 전')
print(timeOn+timedelta(days=1,hours=-2))

In [ ]:
# 현재 일자
print(timeOn.date())
print(timeOn.date().year)

# 올해 연말까지 몇일이 남았을까?
print(f"{(datetime(timeOn.date().year+1,1,1,0,0,0)-timeOn).days}일 남았습니다")

### 리스트 (List) 자료형
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 위해 사용
- Array, matrix와는 형태는 비슷. 다른좀: array,matrix는 같은 타입

In [ ]:
var01 = []
var02 = [1,2,3]
var03 = ["I","have","a","dream"]
var05 = [1,2,["Dream","True"]]


print(var05[:1+1])
print(var05[-1][0])
print(var02[0]+var02[1])

# Ex : Dream 추출하기
var = [1,2,['a','b',['Dream','True']]]
print(var[-1][-1][0])

In [ ]:
# 리스트의 숫자 합치기
var01 = [1,2,3]
var02 = [4,5,6]
var03 = []
for i in range(len(var01)):
  var03.append(var01[i]+var02[i])

[var01[i]+var02[i] for i in range(len(var01))]

In [ ]:
# 리스트의 숫자 반복
print(var01)
print(var01*3)

# var01의 요소들을 10으로 곱하여 var02라는 리스트 만들기
var02 = [v*10 for v in var01]
print(var02)

# 2hi
var=[1,2,3]

# print(str(var[1])+"hi")
print(3 in var)
print(4 in var)

# 3 -> 4
var[2]=4
# 2 -> 'a','b','c'
var[1] = ['a','b','c']
print(var)
print(var[1:1+1])
var[1:1+1] = ['a','b','c']
print(var)

# # 범위를 지운다
# var[1:2] = []
# print(var)

#하나만 지운다
del var[1]

In [ ]:
# Quiz
# 리스트를 만들어라 => [100, 200, 300, 400, 500, 600, 700]
# varEx = [i*100 for i in range(1,7+1)]
# print(varEx)

varEx = list(range(100,700+1,100))
print(varEx)

# 200 삭제하기
del varEx[1]
print(f"Removed 200 : {varEx}")

# 300
del varEx[1:3+1]
print(f"Removed 300: {varEx}")

varEx[1:1] = list(range(200,500+1,100))
print(f"Added 200,300,400,500 => 결과: {varEx}")

---
### 리스트 관련 함수들

In [ ]:
# 정수 추가 하기
var = [1,2,3]
var.append(4)


#정렬
var = [1,4,3,2]
var.sort() # 오름차순
print(var)
var.reverse() # 내림차순
print(var)

# 인덱스 
var.index(3)

# 추가 (위치,value)
var = [1,2,3]
var.insert(0,4)
print(var)

var = list(range(10,60+1,10))
var.remove(40)
print(var)

# 요서 삭제후 끄집어내기
var = [1,2,3]
print(var.pop())
print(var)

In [ ]:
# for문을 사용한 pop
var = [1,2,3]

backVar = []
for _ in range(3):
  backVar.append(var.pop())
print(var)
print(backVar)


var = [1,2,3]
var.pop(1)
var.pop(1)

In [ ]:
# 리스트의 요소 갯수 세기
var = [1,2,3,4,4,4,5]
# 4가 몇개?
print(var.count(4))
# 전체 데이터 갯수
print(len(var))



# 리스트의 확장 (리스트를 합침)
var = [1,2,3,4]
var.extend([5,6])
print(var)

# 1부터 100까지의 리스트 생성
var = list(range(1,100+1))
print(f"Length: {len(var)}")

# var에 101부터 200까지 list를 추가하여 확장
var.extend(list(range(101,200+1)))
print(f"Length: {len(var)}")

In [10]:
# 1부터 10까지의 수중 짝수 리스트 만들기
evenVar = list(range(2,10+1,2))
print(evenVar)
# 홀수 리스트 만들고 짝수리스트에 확장
evenVar.extend(list(range(1,9+1,2)))
print(evenVar)
#정렬
evenVar.sort()
print(evenVar)

# 합계
sum(evenVar)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

55

In [ ]:
# 다음과 같은 List에서 데이터를 발취하여
# Hello World! My name is Alice and I'm 30 years old. 를 출력하시오
list01 = [1, 3.14, 'Hello World!', True, [170,50,30],['Alice','Cathy']]

print(f"{list01[2]} My name is {list01[-1][0]} and I'm {list01[4][-1]} years old.")

Hello World! My name is Alice and I'm 30 years old.

---
### 리스트의 복사

In [ ]:
var01 = [1,2,3,4]
var02 = var01.copy()
var02[0] = 10
print(var01)
print(var02)

[1, 2, 3, 4]
[10, 2, 3, 4]