### 자료형의 참과 거짓
- 문자열인 경우 "" 안에 데이터가 있으면 참, 없으면 거짓
- 리스트인 경우 [] -> 안에 데이터가 있으면 참, 없으면 거짓
- 튜플인 경우 () -> 
- 딕셔너리인 경우 {} -> 
- 숫자인 경우 0이면 거짓, 0이 아닌 숫자는 참

In [5]:
# 리스트를 통한 참, 거짓
var =[10,20,30,40]

while(var):
  print(len(var),var.pop())

4 40
3 30
2 20
1 10

In [ ]:
# 튜플을 이용한 변수 생성
var01, var02 = 1,2
print(var01)
print(var02)

1
2
1
2

In [ ]:
var03 = 1,2
# 1과 2를 각각 출력하기
print(var03[0],var03[1],sep='\n')


var01, var02 = 1, "Lee"
var01 = var02 = "Lee"

1
2

True

In [ ]:
# 변수 값 교환
var01 = 3
var02 = 5

var01, var02 = var02, var01
print(var01, var02)


# 리스트 복사
var01 = [1,2,3]
var02 = var01[:]

5 3

[1, 2]