In [ ]:
from random import randint

In [ ]:
x = randint(1,100)

if x > 50:
  print(f'{x} is greater than 50')
elif x < 50 :
  print(f'{x} is less than 50')
else :
  print(f'{x} is equal to 50')


print('----- END ------')

In [ ]:
# 사용자가 입력한 숫자가 짝수인지 홀수 인지 판별하기

input01 = int(input("숫자를 입력하세요:"))
# print(type(input01))

if input01 % 2 == 0 :
  print(f"{input01}은 짝수입니다")
else:
  print(f"{input01}은 홀수입니다")

In [ ]:
# Ex:
# 사용자로 부터 시험 점수를 입력 받아 학점으로 출력하기
# 출력
# 시험점수는 12점이고 F학점입니다.



# input01 = input('점수를 입력하세요')

input01 = 50
scoreList = [(90,"A"),(80,"B"),(70,"C"),(60,"D"),(50,"F")]

for 
      
      


# if input01 >= 90 :
#   score = 'A'
# elif input01 >= 80 :
#   score = 'B'
# else:
#   scroe = 'F'

# print(f'시험점수는 {input01}점이고 {score}학점입니다.')

---
### match case
: 3.10 부터 도입

In [ ]:
x = int(input('숫자를 입력하세요:'))
match x%2 :
  case 0:
    print(f"{x}는 짝수 입니다.")
  case 1:
    print(f"{x}는 홀수 입니다.")

In [ ]:
x = int(input('숫자를 입력하세요:'))

match x:
  case x if x%2 == 0:
    print(f"{x}는 짝수 입니다.")
  case _:
    print(f"{x}는 홀수 입니다.")

In [ ]:
var01 = int(input('숫자를 입력하세요:'))

match var01:
  case 0:
    print(0)
  case 88 | 99:
    print("88이거나 99")
  case var01 if var01%10 == 0:
    print("10의 배수")
  case var01 if var01 > 0:
    print('양수다')
  case var01 if var01 < 0:
    print('음수다')
  case _:
    print('???')

In [ ]:

input01 = 60
scoreList = [(90,"A"),(80,"B"),(70,"C"),(60,"D"),(50,"F")]

r = [v for v in scoreList if v[0]<=input01][0] 
print(f'시험점수는 {input01}점이고 {r[1]}학점입니다.')

# for v in scoreList:
#   match input01:
#     case input01 if v[0]<=input01 :
#       print(f'시험점수는 {input01}점이고 {v[1]}학점입니다.')
#       break
#     # case v if 80<= input01 <90 :
#     #   print(f'시험점수는 {input01}점이고 B학점입니다.')
#     #   break
#     # case v if 70 <= input01 <80 : 
#     #   print(f'시험점수는 {input01}점이고 {v}학점입니다.')
#     #   break
#     # case _:
#     #   print(f'시험점수는 {input01}점이고 F학점입니다.')
#     #   break

SyntaxError: invalid syntax (263608174.py, line 4)

In [ ]:

# list의 내용을 if문으로 확인하기
# 0 은 false다 

pocket = ['paper','smartphone','money']
card = 0

if 'money' in pocket:
  print('현금으로 택시타기')
elif card:
  print("신용카드로 택시 타기")
else:
  print('튼튼한 다리로...')

현금으로 택시타기

In [23]:
money = 2000
card = True

if money >= 5000 or card:
  print("택시를 탈수 있음")
else:
  print("걸어가자")

택시를 탈수 있음

---
### 삼항 연산자

In [ ]:
# 사용자로 부터 숫자를 입력 받아 짝수 인지 홀수 인지 판별하기

num = int(input('숫자를 입력하세요'))

result = "짝수" if num%2==0 else "홀수" 
print(result)

홀수

In [27]:
#입력받은수가 5보다 크며 ㄴ숫자의 2배를 구하고 아니면 2를 덧셈

num = 5 # int(input('숫자를 입력하세요'))

result = num*2 if num>5 else num+2 
print(result)

7

In [ ]:
# bit 연산자 (&,|)
print(5 and 9)
print(5 or 3)
#101 011
print(5 & 3)
print(5 | 3)

9
5
1
7

In [ ]:
treeHit = 0
while True:
  treeHit+=1
  print(f"나무를 {treeHit}번 찍었습니다.")
  if(treeHit == 10) :
    print("나무 넘어 갑니다")
    break

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어 갑니다

In [46]:
# 10 보다 작은 수중 5인 경우에만 추력 안하고 나머지 숫자는 출력하기
var = 0
while var < 10:
  var+=1
  if var ==5:
    continue
  print(var)

1
2
3
4
6
7
8
9
10

In [ ]:
# 점수가 80점 이상이면 우수, 나머지는 노력으로 출력
scores = [78, 85, 95, 65]
var = 0


while var < len(scores) :
  # if var > 10 : break
  if scores[var] >= 80:
    print("우수")
  else:
    print('노력')
  var+=1

노력
우수
우수
노력

['우수', '우수']

In [64]:
scores = [78, 85, 95, 65]
var = 0

while scores:
  score = scores.pop(0)
  print(f"우수 {score}" if score>=80 else f"노력 {score}")
  # if score >= 80:
  #   print(f"우수 {score}")
  # else:
  #   print(f'노력 {score}')

노력 78
우수 85
우수 95
노력 65

In [ ]:
# 평균 구하기 
scores = [78, 85, 95, 65]
total = 0
list_length = len(scores)
print(f"평균 : {sum(scores)/len(scores)}")

while scores: 
  total += scores.pop()

print("평균: ",total/ list_length)

평균 : 80.75
평균:  16.25

In [70]:
import numpy as np

scores = [78, 85, 95, 65]
np.mean(scores)

80.75

#### while else
- else문은 반복문이 정상적으로 종료 되었을 경우 실행된다. 
- while문 안에 break가 있어 반복이 중간에 멈추었을 경우 else문은 실행되는 않는다.

In [71]:
i = 1
while i < 5:
  print(i)
  i+=1
else:
  print('반복을 처음부터 끝까지 하였습니다.')

1
2
3
4
반복을 처음부터 끝까지 하였습니다.

In [74]:
i = 1
while i < 5:
  print(i)
  if i == 2: break
  i+=1
else:
  print('반복을 처음부터 끝까지 하였습니다.')

1
2

for 변수 in 리스트, 튜플, 문자열, range():

(1, 3, 5, 7, 9)

In [ ]:
# 1 부터 10까지의 수중 홀수만 출력하기
for i in range(1,10+1,2):
  print(i)

1
3
5
7
9
 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766

In [ ]:
# 1 부터 10까지의 제곱근을 출력하기
import math
for i in range(1,10+1):
  print(f"{i:>2} : {math.sqrt(i):.8f}")

 1 : 001.00000000
 2 : 001.41421356
 3 : 001.73205081
 4 : 002.00000000
 5 : 002.23606798
 6 : 002.44948974
 7 : 002.64575131
 8 : 002.82842712
 9 : 003.00000000
10 : 003.16227766

In [ ]:
# 1부터 100까지의 합계 (1줄로)
# sum([i for i in range(1,100+1)])
sum(range(1,100+1))

# 1부터 1000까지의 홀수의 합과 짝수의 합을 구하기
print(sum(range(1,1000+1,2)), sum(range(2,1000+1,2)))

250000 250500

In [ ]:
# 구구단 결과
for i in range(2,9+1):
  for r in range(1,9+1):
    print(f"{(i*r):02}",end=' ')
  print(end='\n')

02 04 06 08 10 12 14 16 18
03 06 09 12 15 18 21 24 27
04 08 12 16 20 24 28 32 36
05 10 15 20 25 30 35 40 45
06 12 18 24 30 36 42 48 54
07 14 21 28 35 42 49 56 63
08 16 24 32 40 48 56 64 72
09 18 27 36 45 54 63 72 81

#### for문에 Tuple 사용하기

In [ ]:
var = [(1,2), (3,4), (5,6)]

sum = 0
for first,second in var:
  # print(f"{first} {second}")
  sum += first + second

21

In [202]:
var = [(1,2), (3,4), (5,6)]

for i in var:
  for num in i:
    print(num,end=' ')
  print('\n -')

1 2
 -
3 4
 -
5 6
 -

In [ ]:
# 총 5명이 시험을 봤다. 시험점수가 60점 이상이면 합격이고
# 그렇지 않으면 불합격
# 합격, 불합격 보여주기

scores = [90,25,67,45,80,90]

# for num in range(len(scores)):
#   # if scores[num] >= 60 :
#   #   print(f'{num+1}의 학생은 합격 입니다')
#   # else :
#   #   print(f'{num+1}의 학생은 불합격 입니다')
#   print(f'{num+1}번 학생은 {scores[num]}. {"합격" if scores[num] >= 60 else "불합격"} 입니다.')

print(f'{num+1}번 학생은 {scores[num]}. {"합격" if scores[num] >= 60 else "불합격"} 입니다.') for num in range(len(scores))

# number = 1
# for score in scores:
#   # if scores[num] >= 60 :
#   #   print(f'{num+1}의 학생은 합격 입니다')
#   # else :
#   #   print(f'{num+1}의 학생은 불합격 입니다')
#   print(f'{number}번 학생은 {score}. {"합격" if score >= 60 else "불합격"} 입니다.')
#   number+=1





# number = 1
# while scores:
#   score = scores.pop(0)
#   print(f'{number}번 학생은 {score}. {"합격" if score >= 60 else "불합격"} 입니다.')
# else:
#   print('='*30)

1번 학생은 90. 합격 입니다.
1번 학생은 25. 불합격 입니다.
1번 학생은 67. 합격 입니다.
1번 학생은 45. 불합격 입니다.
1번 학생은 80. 합격 입니다.
1번 학생은 90. 합격 입니다.
==============================

In [ ]:
# 학생들의 점수의 평균을 구하여 평균 점수보다 낮으면 불합격
# 평균 점수 이상이면 합격을 출력하라
import numpy as np

scores = [90,25,67,45,80]

# a = sum(scores)/len(scores)
xavg = int(np.mean(scores))

print(f'학생들의 평균 점수는 {xavg} 입니다.')

number = 1
for score in scores:
  print(f'{number}번 학생은 {score}. {"합격" if score >= xavg else "불합격"} 입니다.')
  number+=1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 17)

In [21]:
scores = [90,25,67,45,80]

# results = [{"id":i,"score":scores[i]} for i in range(len(scores)) if scores[i]>= 60]
# print(results)
results = [i+1 for i in range(len(scores)) if scores[i]>= 60]
print(results)

# use enumerate
results = [i+1 for i,score in enumerate(scores) if score>=60]
print(results)
# t = []
# for num in range(len(scores)):
#   if scores[num] >= 60 :
#     t.append(num)

# print(t)

[1, 3, 5]
[1, 3, 5]

In [31]:
# 문장과 단어 추출

string = """나는 홍길동 입니다.
주소는 서울시 입니다.
나이는 35세 입니다.
"""

sents = []
words = []
for sen in string.split("\n"):
  sents.append(sen)

# sents[:len(sents)-1]
del sents[-1]


for sen in sents:
  for word in sen.split(" "):
    words.append(word)

print("문장: ",sents)
print('문장수:',len(sents))
print('단어: ',words)
print('단어수:',len(words))

문장:  ['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']
문장수: 3
단어:  ['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']
단어수: 9

### for else
- for 반복문이 모두 실행되고 나면 else문이 실행된다.
- for 중간에 break로 종료되면 else는 실행되지 않는다.

In [33]:

for i in range(1,5+1):
  if i== 10:
    break
  print(i)
else:
  print('찾고자 하는 10이 없습니다')



words

1
2
3
4
5
찾고자 하는 10이 없습니다

['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']

In [37]:
fruits = ['apple','banana','cherry','orange']

for i,fruit in enumerate(fruits):
  if fruit == 'orange':
    print(f'orange를 찾았습니다.{i}')
    break
else:
  print('orange가 없습니다.')

orange를 찾았습니다.3

### Python의 Comprehension(내포)

In [45]:
var01 = [1,2,3,4]
var02 = [d*5 for d in var01]
print(var02) #[5, 10, 15, 20]

# var01에서 짝수만 리스트에 넣어 출력
var03 = [d*5 for d in var01 if d%2==0]
print(var03)

[5, 10, 15, 20]
[10, 20]

In [68]:
# 구구단 (2단 ~ 9단) 결과만 리스트로 저장하기
result = [tuple(i*k for k in range(1,9+1)) for i in range(2,9+1)]
print(result)

[(2, 4, 6, 8, 10, 12, 14, 16, 18), (3, 6, 9, 12, 15, 18, 21, 24, 27), (4, 8, 12, 16, 20, 24, 28, 32, 36), (5, 10, 15, 20, 25, 30, 35, 40, 45), (6, 12, 18, 24, 30, 36, 42, 48, 54), (7, 14, 21, 28, 35, 42, 49, 56, 63), (8, 16, 24, 32, 40, 48, 56, 64, 72), (9, 18, 27, 36, 45, 54, 63, 72, 81)]

In [72]:
# 60점 이상의 학생 점수만 List로 만들어 평균 구하기

scores = [90,25,67,45,80]
passList = [score for score in scores if score>=60]
print(f"합격한 학생들의 평균 점수는 {np.mean(passList)} 입니다.")

합격한 학생들의 평균 점수는 79.0 입니다.